<li class="comment-container">
  <div class="user-container">
    <div class="user">
      <img [attr.src]="reply.user.image" alt="user image" class="avatar" />
      <div class="names-container">
        <span class="name">{{ reply.user.name }}</span>
        <span class="username">@{{ reply.user.username }}</span>
      </div>
    </div>

    <button
      (click)="toggleShouldDisplayReplyForm()"
      [hidden]="shouldDisplayReplyForm"
      class="replyBtn"
    >
      Reply
    </button>
    <button
      (click)="toggleShouldDisplayReplyForm()"
      [hidden]="!shouldDisplayReplyForm"
      class="cancelBtn"
    >
      Cancel
    </button>
  </div>

  <p class="comment-text">
    <span class="replyingto"> @{{ reply.replyingTo }} </span>
    {{ reply.content }}
  </p>

  <form-reply
  [shouldDisplayForm]="shouldDisplayReplyForm"
    [commentId]="commentId"
    [replyTo]="reply.user.username"
  ></form-reply>
</li>
