<li
  class=" cursor-pointer flex flex-row w-full justify-between fb     {{
    extraClasses
  }}"
  [ngClass]="{ 'fb--row': isFlexCol }"
  [routerLink]="['/feedback-detail', feedback.id]"
>
  <div class="fb__top-container flex w-full">
    <fedback-upvote-element
      [isFlexCol]="isFlexCol"
      [numUpvotes]="feedback.upvotes"
    ></fedback-upvote-element>

    <div class="fb__title-container flex flex-col gap-1 w-full">
      <h4
        class="fb__title text-lg text-darkGreyBlue font-medium transition-colors"
      >
        {{ feedback.title }}
      </h4>
      <p class="fb__description text-smw-full text-mediumGrey">
        {{ feedback.description }}
      </p>

      <span class="app__fb-category-element">{{ feedback.category }}</span>
    </div>
  </div>

  <div class="fb__container-comment">
    <feedback-comment-element
      [numComments]="feedback.comments.length"
    ></feedback-comment-element>
  </div>
</li>
