
<li class="app__white-wrapper cursor-pointer flex flex-row w-full justify-between fb fb--row  transition-colors" >
  <div class="fb__top-container flex  ">
    <fedback-upvote-element
      [isFlexCol]="true"
      [numUpvotes]="feedback.upvotes"
    ></fedback-upvote-element>

    <div class="fb__title-container flex flex-col gap-1">
      <h4 class="fb__title text-lg text-darkGreyBlue font-medium transition-colors">
        {{ feedback.title }}
      </h4>
      <p class="fb__description text-sm text-mediumGrey">
        {{ feedback.description }}
      </p>

      <span class="app__fb-category-element">{{ feedback.category }}</span>
    </div>
  </div>

  <div class="fb__container-comment ">
    <feedback-comment-element
      [numComments]="feedback.comments.length"
    ></feedback-comment-element>
  </div>
</li>
