<no-feedback-found *ngIf="!feedback"> </no-feedback-found>

<section *ngIf="feedback" class="flex flex-col gap-8 max-w-2xl mx-auto pb-10">
  <div class="flex justify-between items-center">
    <go-back-element routerLink="/"></go-back-element>
    <button
      routerLink="/feedback-edit/{{ feedback.id }}"
      class="app__button--edit"
    >
      Edit Feedback
    </button>
  </div>

  <div>
    <feedback-large-card-item
      [feedback]="feedback"
      [isFlexCol]="true"
      extraClasses="app__white-wrapper"
    ></feedback-large-card-item>
  </div>

  <div class="app__white-wrapper">
    <span class="text-lg font-bold text-darkGreyBlue"
      >{{ feedback.comments.length }} <span class="pl-2">Comments</span></span
    >
    <!-- todo: change how comments are getted -->

    <ul class="flex flex-col gap-8 pt-6">
      <!-- todo put border x between li  -->
      <feedback-comment
        *ngFor="let comment of feedback.comments"
        [comment]="comment"
      ></feedback-comment>
    </ul>
  </div>

  <div class="app__white-wrapper flex flex-col gap-5">
    <span class="text-lg font-bold text-darkGreyBlue"> Add Comments</span>
    <form [formGroup]="formComment">
      <textarea
        placeholder="Add your comments here"
        class="form__input form__textarea"
        required
        formControlName="comment"
      ></textarea>
    </form>

    <div class="flex justify-between items-center">
      <button
        (click)="handlePostComment()"
        class="app__button--small bg-primaryBtn"
      >
        Post Comment
      </button>
    </div>
  </div>
</section>
