<section class="flex flex-col gap-8 max-w-2xl mx-auto pb-10">
  <div class="flex justify-between items-center">
    <go-back-element></go-back-element>
    <button class="app__button--large bg-darkBlue">Edit Feedback</button>
  </div>

  <div>
    <feedback-large-card-item
      [feedback]="feedback"
      [isFlexCol]="true"
      extraClasses="app__white-wrapper"
    ></feedback-large-card-item>
  </div>

  <div class="app__white-wrapper">
    <span class="text-lg font-bold text-darkGreyBlue"
      >{{ feedback.comments.length }} <span class="pl-2">Comments</span></span
    >

    <ul class="flex flex-col gap-8 pt-6">
      <feedback-comment
        *ngFor="let comment of feedback.comments"
        [comment]="comment"
      ></feedback-comment>
    </ul>
  </div>

  <div class="app__white-wrapper flex flex-col gap-5">
    <span class="text-lg font-bold text-darkGreyBlue"> Add Comments</span>

    <textarea name="" placeholder="Ctrl + Enter" class="form__input form__textarea"></textarea>

    <div class="flex justify-between items-center">
        <span class="text-base font-normal text-darkGreyBlue"> 225 characters left</span>

        <button class="app__button--small bg-primaryBtn">Post Comment</button>

    </div>
  </div>
</section>
