<style>
  .isOpen {
    transform: translate(0%);
    background: red;    background-color: rgba(0, 0, 0, 0.5);
  }

</style>

<presentation-card
  extraClasses=" md:hidden flex justify-between relative app__mobile-img z-30 rounded-xl "
>
  <button (click)="toggle()" class="relative  z-10">
    <img [src]="toggleSvg()" alt="icon-hamburger" />
  </button>
  <aside
    class="transition-transform fixed top-0 left-0 h-screen w-full  translate-x-full"
    [ngClass]="{isOpen}"
  >
    <div class="bg-bgClr flex max-w-[300px] absolute top-[120px] right-0 flex-col gap-14 px-5 py-5 rounded-md">
      <feedback-categories></feedback-categories>
      <roadmap-card></roadmap-card>
    </div>
  </aside>
</presentation-card>
