<presentation-card
  extraClasses="mobile-header md:hidden flex justify-between relative app__mobile-header z-30"
>
  <button (click)="toggle()">
    <img [src]="toggleSvg()" alt="icon-hamburger" />
  </button>
  <aside
    class=" transition-transform fixed -right-1 h-screen w-full max-w-[350px] bg-bgClr top-[70px] flex flex-col gap-14 px-5 py-5 {{
      isOpen || 'translate-x-full'
    }} "
  >
    <feedback-categories></feedback-categories>
    <roadmap></roadmap>
  </aside>
</presentation-card>
