@media screen and (hover: hover) {
  .upvote-button:hover {
    opacity: 0.7;
  }
}

.upvote-button {
  flex-flow: row;
}
@media screen and (min-width: 768px) {
  .isFlexCol {
    flex-flow: column;
  }
}