<li class="comment-container">
  <div class="user-container">
    <div class="user">
      <img [attr.src]="comment.user.image" alt="user image" class="avatar" />
      <div class="names-container">
        <span class="name">{{ comment.user.name }}</span>
        <span class="username">@{{ comment.user.username }}</span>
      </div>
    </div>
    <button
      (click)="handleShouldDisplayForm()"
      [hidden]="shouldDisplayForm"
      class="replyBtn"
    >
      Reply
    </button>
    <button
      (click)="handleShouldDisplayForm()"
      [hidden]="!shouldDisplayForm"
      class="cancelBtn"
    >
      Cancel
    </button>
  </div>

  <p class="comment-text">
    {{ comment.content }}
  </p>
  <form-reply [commentId]="comment.id" [replyTo]="comment.user.username" [shouldDisplayForm]="shouldDisplayForm">
  </form-reply>

  <ul class="nested-ul" [ngClass]="{ 'before-border': comment.replies.length }">
    <fb-reply
      *ngFor="let reply of comment.replies"
      [commentId]="comment.id"
      [reply]="reply"
      [replyTo]="reply.user.username"
    ></fb-reply>
  </ul>
</li>
