<base-suggestion-bar>
  <div class="flex justify-between w-full max-w-[350px] items-center gap-2">
    <div class="maxxs:hidden flex w-full h-max gap-2.5">
      <img
        src="./assets/shared/loop.svg"
        alt="icon"
        class="max-w-[25px] max-h-[25px]"
      />
      <h4 class="inline-block font-bold text-lg">{{numOfSuggestionFbs}} Suggetions</h4>
    </div>

    <div
      class="self-center relative select-container flex gap-1 min-w-max"
      (click)="toggleSelect()"
    >
      <span
        class="text-lightBlue text-sm font-normal cursor-pointer inline-block w-max"
        >Sort By:
        <span class="font-medium">{{ selectedOption.title }}</span></span
      >

      <custom-select
      (click)="handleSelectClick()"
        [options]="fbSortOptions"
        [shouldDisplay]="shouldDisplaySelect"
        extraClasses="self-center absolute top-[45px] left-[-7px] w-max"
        [(selectedOption)]="selectedOption"
      ></custom-select>

      <div
        class="self-center transition-transform"
        [ngClass]="{ 'rotate-180': shouldDisplaySelect }"
      >
        <icon-arrow-up></icon-arrow-up>
      </div>
    </div>
  </div>
</base-suggestion-bar>
