<section
  class="bg-darkGrey pl-6 pr-4 py-3 flex justify-center gap-4 md:justify-between"
>
  <div class="flex justify-between w-full max-w-[350px] items-center gap-2 ">
    <div class="maxmd:hidden flex w-full h-max gap-2.5">
      <img src="./assets/shared/loop.svg" alt="icon" class="max-w-[25px] max-h-[25px]"  />
      <h4 class="inline-block font-bold text-lg">6 Suggestions</h4>
    </div>

    <div class="self-center w-full">
      <custom-select extraClasses="self-center"></custom-select>
    </div>
  </div>

  <button class="app__button--large bg-primaryBtn ">+ Add Feedback</button>
</section>
