<section
  class="bg-darkGrey pl-4 pr-4 py-3 flex justify-center gap-4 md:justify-between rounded-xl"
>
  <div class="flex justify-between w-full max-w-[350px] items-center gap-2">
    <div class="maxmd:hidden flex w-full h-max gap-2.5">
      <img
        src="./assets/shared/loop.svg"
        alt="icon"
        class="max-w-[25px] max-h-[25px]"
      />
      <h4 class="inline-block font-bold text-lg">6 Suggestions</h4>
    </div>

    <div
      class="self-center relative select-container flex gap-1 min-w-max"
      (click)="toggleSelect()"
    >
      <span
        class="text-lightBlue text-sm font-normal cursor-pointer inline-block w-max"
        >Sort By:
        <span class="font-medium">{{ selectedOption.title }}</span></span
      >

      <custom-select
        [options]="sortByOptions"
        [shouldDisplay]="shouldDisplaySelect"
        extraClasses="self-center absolute top-[45px] left-[-7px]"
        [(selectedOption)]="selectedOption"
      ></custom-select>


      <div class="self-center">
        <icon-arrow-up
          [extraClasses]="shouldDisplaySelect ? 'rotate-180' : ''"
        ></icon-arrow-up>
      </div>
    </div>
  </div>

  <button class="app__button--large bg-primaryBtn">+ Add Feedback</button>
</section>
