@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: #fff;
  @apply font-prim;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  margin: 0;
  padding: 0;
}

.app {
  &__mobile-img {
    background-image: url("/assets/suggestions/mobile/background-header.png");
  }

  &__desktop-img {
    background-image: url("/assets/suggestions/desktop/background-header.png");

    background-position: 100% 50%;
  }

  &__white-wrapper {
    @apply bg-white px-6 py-4 rounded-2xl w-full h-full;
    box-shadow: -1px -2px 10px 10px #0000000a;
  }

  &__fb-category-element {
    @apply rounded-[10px] py-[5px] px-[20.6px] w-fit h-fit pointer-events-auto text-center text-xs  leading-[1.9rem] font-bold bg-lightBlue text-darkBlue;

    &--active {
      @apply bg-darkBlue text-white;
    }
  }

  &__button {
    &--large {
      @apply rounded-xl cursor-pointer flex items-center relative font-bold py-4 px-5 w-full max-w-[170px] justify-center max-h-14 self-center;
    }

    &--small {
      @apply rounded-xl cursor-pointer flex items-center relative font-bold py-3 px-2.5 w-full max-w-[130px] justify-center max-h-14 self-center min-w-[100px];
    }

    &--cancel {
      @apply app__button--small bg-darkGreyBlue;
    }

    &--normal {
      @apply app__button--large bg-primaryBtn;
    }

    &--edit {
      @apply app__button--large bg-darkBlue;
    }

    &--delete {
      @apply app__button--small bg-bgRed;
    }
  }
}

.fb {
  &__upvote-button {
    &--active {
      @apply bg-darkBlue text-white;
    }
  }
}

.form {
  @apply flex flex-col gap-7   pb-14;

  &__container {
    @apply flex flex-col gap-4;
  }

  &__input {
    @apply bg-bgClr py-4 px-6 rounded-md text-base text-darkGrey outline-none border-none w-full;

    &-title,
    &-description {
      @apply text-sm  text-darkGreyBlue;
    }
    &-title {
      @apply font-bold pb-1;
    }
  }

  &__select-container {
    @apply flex flex-row justify-between items-center text-[#3442c7];
  }

  &__textarea {
    @apply appearance-none;
  }

  &__error-message {
    @apply text-redHover text-base pl-2;
  }
}

@media screen and (hover: hover) {
  .app {
    &__fb-category-element--button {
      @apply cursor-pointer transition-colors;
      &:hover {
        @apply bg-darkBlueHover text-white;
      }
    }

    &__fb-category-element--active,
    &__view-button,
    &__button--large,
    &__button--small {
      @apply cursor-pointer transition-opacity;
      &:hover {
        opacity: 0.8;
      }
    }

    &__select-option {
      & span {
        @apply transition-colors;
      }
      &:hover {
        & span {
          @apply text-inProgressClr;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .app {
    &__button {
      &--large {
        @apply rounded-xl cursor-pointer flex items-center relative font-bold py-4 px-0 w-full max-w-[140px] text-sm;
      }

      &--small {
        @apply rounded-xl cursor-pointer flex items-center relative font-bold py-4  w-full max-w-[140px] text-sm;
      }
    }
  }
}
